# Node modules
node_modules/

# Environment variables
.env

# Package lock files
package-lock.json
yarn.lock

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Build output
dist/
build/
